

<div class="row">
<% @legislators.each do |legislator| %>
<div class="col-md-4">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">
        <%= legislator.full_name%>, <%= legislator.state.upcase %>
      </h4>
      <h6 class="card-subtitle"><%= legislator.party %></h6>
    </div>
    <%=image_tag(legislator.photo) %>
    <div class="card-block">
      <p class="card-text">
         <%= legislator.occupation %><br>
         <%= legislator.email %><br>
         <%= legislator.phone %><br>
         <%=link_to("Official Website", legislator.url) %>
      </p>
    </div>
  </div>
</div>
<% end %>


</div>
<div>
  <input type="text" id="legislator-search" placeholder="Search for Legislator by Name" required>
  <button type="submit" id="search-submit"  placeholder="Submit" value="Submit">Submit</button>
</div>
