<div class="card-legislator">
  <div class="row">
    <%= @legislator%>
  </div>
  <div class="row">
    <%= link_to "Positive News", legislator_path(@legislator, "positive") %>
    <%= link_to "Negative News", legislator_path(@legislator, "negative") %>
  </div>
  <div class="row">
    <%= link_to("#{@articles.url}", @articles.url) %>
    <%= link_to("Share on Facebook!", "http://www.facebook.com/dialog/feed?app_id=#{ENV["FACEBOOK_KEY"]}&link=#{@articles.url}&redirect_uri=#{request.original_url}") %>
  </div>
</div>
