<!DOCTYPE html>
<html>
<head>
  <title>Legislators</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<!-- <div class="background-banner">
</div>
<h4 class="test">test</h4> -->

<nav class="navbar navbar-inverse">
  <% if session[:user_id] %>
  <div class="container-fluid">
    <ul class="navbar-header navbar-text">
      <h4> Welcome <%= current_user.name%>, check your reps!</h4>
    </ul>
    <ul class="nav navbar-nav navbar-right navbar-text">
      <h4> <%= link_to "Sign Out", logout_path%></h4>
    </ul>
    <ul class="nav navbar-nav navbar-right navbar-text">
      <h4> <%= link_to "Legislators", legislators_path%></h4>
    </ul>
    <ul class="nav navbar-nav navbar-right navbar-text">
      <h4> <%= link_to "Presidents", presidents_path%></h4>
    </ul>
  </div>
  <% else %>
  <div class="container-fluid">
    <ul class="navbar-header navbar-text">
      <h4> Log in to see your reps</h4>
    </ul>
    <%= link_to login_path, class: "nav navbar-nav navbar-right btn btn-block btn-social btn-facebook" do %>
       <span class="fa fa-facebook"></span> Sign in with Facebook
    <% end %>
  </div>
  <% end %>
</nav>
<body class="background-image">
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
